.chyk-default-progress-bar {
  height: 4px;
  border-radius: 2px;
  background: #1890ff;
  width: 0;
  transition: width .2s;
}

.chyk-default-progress-text {
  font-size: 14px;
  color: #666;
}

@keyframes moveBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }

}